.clearfix {
  zoom: 1;
}
.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
footer {
  background-color: #072B69;
  text-align: center;
  color: #bbb;
  padding: 30px 0;
}
footer a {
  color: #bbb;
}
footer a:hover {
  color: #999;
}
footer .friend {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
footer .friend a {
  padding: 0 8px 0 5px;
  border-right: 1px solid #bbb;
}
footer .friend a:first-child {
  padding-left: 0;
}
footer .friend a:last-child {
  border-right: 0;
}
footer .address {
  margin: 0;
  padding: 0;
}
footer .address span {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #444;
}
footer .address span:nth-child(4) {
  border-right: 0;
}
#go-to-top {
  position: fixed;
  right: 25px;
  bottom: 60px;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../img/up.png);
}
#go-to-top:hover {
  background-image: url(../img/up_hover.png);
}
