.clearfix {
  zoom: 1;
}
.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-header {
  background-color: #f9f9f9;
  padding: 15px;
}
#primary-header .logo {
  float: left;
  display: inline;
  padding-right: 10px;
}
#primary-header h1 {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  color: #0ff;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
}
#primary-header .qrcode {
  float: right;
  display: inline;
  position: relative;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
}
#primary-header .qrcode img {
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: absolute;
  right: -40px;
  top: 40px;
  display: none;
  z-index: 9;
  padding: 10px;
  background-color: #ccc;
  width: 120px;
}
#primary-nav {
  font-family: 'Microsoft Yahei', '微软雅黑', Helvetica, Arial, sans-serif;
  background-color: #014da1;
  width: 100%;
  letter-spacing: 0.2em;
}
#primary-nav .parent {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  zoom: 1;
  display: inline;
}
#primary-nav .parent:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-nav .parent > li {
  float: left;
  display: inline;
  position: relative;
}
#primary-nav .parent > li > a {
  float: left;
  display: inline;
  transition: background-color, fast;
  -o-transition: background-color, fast;
  -ms-transition: background-color, fast;
  -moz-transition: background-color, fast;
  -webkit-transition: background-color, fast;
  transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  -ms-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -webkit-transition: background-color, 0.2s;
  width: 125px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
#primary-nav .parent > li > a:hover {
  text-decoration: none;
}
#primary-nav .parent > li:hover > a {
  background-color: #032850;
}
#primary-nav .sub {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  position: absolute;
  left: 0;
  top: 53px;
  z-index: 9;
  display: none;
  background-color: #032850;
}
#primary-nav .sub a {
  display: block;
  width: 125px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
}
#primary-nav .sub a:hover {
  text-decoration: none;
}
#primary-nav .sub a:hover {
  background-color: #011c3a;
}
.nav-fix-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
footer {
  background-color: #072B69;
  text-align: center;
  color: #bbb;
  padding: 30px 0;
}
footer a {
  color: #bbb;
}
footer a:hover {
  color: #999;
}
footer .friend {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
footer .friend a {
  padding: 0 8px 0 5px;
  border-right: 1px solid #bbb;
}
footer .friend a:first-child {
  padding-left: 0;
}
footer .friend a:last-child {
  border-right: 0;
}
footer .address {
  margin: 0;
  padding: 0;
}
footer .address span {
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #444;
}
footer .address span:nth-child(4) {
  border-right: 0;
}
#go-to-top {
  position: fixed;
  right: 25px;
  bottom: 60px;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-image: url(../img/up.png);
}
#go-to-top:hover {
  background-image: url(../img/up_hover.png);
}
#slider {
  position: relative;
  overflow: auto;
}
#slider ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
#slider ul > li {
  float: left;
  width: 100%;
}
#slider ul img {
  width: 100%;
  height: auto;
}
#slider .slider-title > span {
  position: absolute;
  left: 10%;
  bottom: 10%;
  font-size: 1.4em;
  z-index: 2;
  width: 35%;
  min-width: 200px;
  padding: 20px 30px;
  letter-spacing: .1em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
#slider ol.dots {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  position: absolute;
  right: 50%;
  bottom: 5%;
  z-index: 3;
}
#slider ol.dots li.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  background-color: #fff;
}
#slider ol.dots li.active {
  background-color: #0ff;
}
#slider .arrows span {
  transition: background-color, 0.4s;
  -o-transition: background-color, 0.4s;
  -ms-transition: background-color, 0.4s;
  -moz-transition: background-color, 0.4s;
  -webkit-transition: background-color, 0.4s;
  font-size: 2em;
  line-height: 60px;
  z-index: 3;
  display: inline-block;
  width: 45px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
#slider .arrows span:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#slider .arrows span.prev {
  position: absolute;
  left: 10px;
  top: 40%;
}
#slider .arrows span.next {
  position: absolute;
  right: 10px;
  top: 40%;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #slider p.slider-title > span {
    font-size: 1.2em;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 767px) {
  #slider p.slider-title > span {
    font-size: 1.0em;
    padding: 5px 10px;
  }
}
#main {
  padding-bottom: 30px;
}
#main .col-lg-5,
#main .col-md-5 {
  padding: 0 25px;
}
.main-box {
  height: 220px;
  margin-top: 40px;
  overflow: hidden;
}
.main-box .box-header {
  position: relative;
  margin-bottom: 15px;
}
.main-box h3 {
  margin: 0;
  padding: 0;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  letter-spacing: 0.2em;
}
.main-box h3 i {
  transition: transform, slow;
  -o-transition: transform, slow;
  -ms-transition: transform, slow;
  -moz-transition: transform, slow;
  -webkit-transition: transform, slow;
  transition: transform, 0.8s;
  -o-transition: transform, 0.8s;
  -ms-transition: transform, 0.8s;
  -moz-transition: transform, 0.8s;
  -webkit-transition: transform, 0.8s;
  margin: 0 1em 0 0.5em;
}
.main-box:hover h3 i {
  transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.main-box .more {
  position: absolute;
  right: 0;
  bottom: 5px;
  color: #0ff;
}
.main-box .more:hover {
  color: #ff4599;
  text-decoration: none;
}
.main-box ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
.preview li {
  position: relative;
  height: 40px;
  margin-bottom: 15px;
}
.preview li a {
  position: absolute;
  left: 80px;
  top: 0;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 40px;
  font-size: 1.2em;
  color: #333;
}
.preview li a:hover {
  color: #0ff;
}
.preview li time {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 60px;
  height: 40px;
}
.preview li .year-month {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #29496b;
  color: #fff;
}
.preview li .day {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #e8e8e8;
  color: #29496b;
}
.news li {
  position: relative;
  height: 33px;
  line-height: 33px;
}
.news li a {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #333;
  font-size: 1.1em;
}
.news li a:hover {
  color: #0ff;
}
.news li a:before {
  font-family: FontAwesome;
  content: "\f0da";
  margin-right: 8px;
}
.news li time {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #aaa;
}
.news li time:before {
  content: '( ';
}
.news li time:after {
  content: ' )';
}
.news li a:hover + time {
  color: #0ff;
}
aside {
  background-color: #F3F9FC;
  transition: box-shadow, fast;
  -o-transition: box-shadow, fast;
  -ms-transition: box-shadow, fast;
  -moz-transition: box-shadow, fast;
  -webkit-transition: box-shadow, fast;
  transition: box-shadow, 0.2s;
  -o-transition: box-shadow, 0.2s;
  -ms-transition: box-shadow, 0.2s;
  -moz-transition: box-shadow, 0.2s;
  -webkit-transition: box-shadow, 0.2s;
  border: 1px solid #eee;
  margin-top: 40px;
  padding: 18px;
  text-align: center;
}
aside:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}
.aside-box {
  margin-bottom: 25px;
}
.aside-box:last-child {
  margin-bottom: 0;
}
.aside-box h4 {
  margin: 0;
  padding: 0;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  color: #333;
  border-bottom: 2px solid #0ff;
  padding-bottom: 8px;
  margin-bottom: 8px;
  line-height: 40px;
}
.aside-box ul {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
}
.aside-box li {
  margin: 15px 0;
  border-bottom: 1px solid #3399FF;
  text-align: center;
}
.aside-box li:last-child {
  margin: 0;
}
.aside-box li a {
  line-height: 40px;
  font-size: 1.428em;
  display: block;
}
.aside-box li a:hover {
  text-decoration: none;
}
.aside-box li .icon {
  transition: background-position, fast;
  -o-transition: background-position, fast;
  -ms-transition: background-position, fast;
  -moz-transition: background-position, fast;
  -webkit-transition: background-position, fast;
  transition: background-position, 0.2s;
  -o-transition: background-position, 0.2s;
  -ms-transition: background-position, 0.2s;
  -moz-transition: background-position, 0.2s;
  -webkit-transition: background-position, 0.2s;
  background-image: url(../../img/icons-customer.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  margin: 0 auto;
  width: 40px;
}
.aside-box li .icon-home {
  height: 38px;
  background-position: center -81px;
}
.aside-box li:hover .icon-home {
  background-position: center -119px;
}
.aside-box li .icon-user {
  height: 34px;
  background-position: center -156px;
}
.aside-box li:hover .icon-user {
  background-position: center -190px;
}
.aside-box li .icon-download {
  height: 36px;
  background-position: center -222px;
}
.aside-box li:hover .icon-download {
  background-position: center -258px;
}
.aside-box li .icon-survey {
  height: 41px;
  background-position: center 0;
}
.aside-box li:hover .icon-survey {
  background-position: center -41px;
}
