.clearfix {
  zoom: 1;
}
.clearfix:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-header {
  background-color: #f9f9f9;
  padding: 15px;
}
#primary-header .logo {
  float: left;
  display: inline;
  padding-right: 10px;
}
#primary-header h1 {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  font-family: 'simhei', '黑体', Helvetica, Arial, sans-serif;
  font-size: 2.2em;
  color: #ff0;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
}
#primary-header .qrcode {
  float: right;
  display: inline;
  position: relative;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 36px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
}
#primary-header .qrcode img {
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px, 0, 0, 0;
  -o-border-radius: 5px, 0, 0, 0;
  -ms-border-radius: 5px, 0, 0, 0;
  -moz-border-radius: 5px, 0, 0, 0;
  -webkit-border-radius: 5px, 0, 0, 0;
  position: absolute;
  right: -40px;
  top: 40px;
  display: none;
  z-index: 9;
  padding: 10px;
  background-color: #ccc;
  width: 120px;
}
#primary-nav {
  font-family: 'Microsoft Yahei', '微软雅黑', Helvetica, Arial, sans-serif;
  background-color: #014da1;
  width: 100%;
  letter-spacing: 0.2em;
}
#primary-nav .parent {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  zoom: 1;
  display: inline;
}
#primary-nav .parent:after {
  font-size: 0;
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ' ';
}
#primary-nav .parent > li {
  float: left;
  display: inline;
  position: relative;
}
#primary-nav .parent > li > a {
  float: left;
  display: inline;
  transition: background-color, fast;
  -o-transition: background-color, fast;
  -ms-transition: background-color, fast;
  -moz-transition: background-color, fast;
  -webkit-transition: background-color, fast;
  transition: background-color, 0.2s;
  -o-transition: background-color, 0.2s;
  -ms-transition: background-color, 0.2s;
  -moz-transition: background-color, 0.2s;
  -webkit-transition: background-color, 0.2s;
  width: 125px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
}
#primary-nav .parent > li > a:hover {
  text-decoration: none;
}
#primary-nav .parent > li:hover > a {
  background-color: #032850;
}
#primary-nav .sub {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  position: absolute;
  left: 0;
  top: 53px;
  z-index: 9;
  display: none;
  background-color: #032850;
}
#primary-nav .sub a {
  display: block;
  width: 125px;
  height: 53px;
  line-height: 53px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
}
#primary-nav .sub a:hover {
  text-decoration: none;
}
#primary-nav .sub a:hover {
  background-color: #011c3a;
}
.nav-fix-top {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}
